html, body {
  width: 100%; }

#stage {
  width: 100%;
  height: 60px;
  background-color: tan;
  text-align: center;
  border: 2px solid grey; }

#vip {
  width: 500px;
  height: 20px;
  margin: auto; }

#ga {
  width: 700px;
  height: 20px;
  margin: auto; }

.seat {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  float: left;
  color: white;
  text-align: center; }

#vip .seat {
  background-color: red; }

#ga .seat {
  background-color: blue; }

#report th {
  text-align: right; }
#report td {
  width: 8em; }
