
%section#sectionControls
  .row
    .small-12.columns
      %h2 Concert Tickets
  .row
    .small-2.columns
      %select#sections{name:'Select Section'}
        %option{selected:'selected', disabled:'disabled'} Select Section
        %option{value:'vip'} VIP
        %option{value:'ga'} General Admission
    .small-2.columns
      %input#seatCount{type:'text', placeholder:'# of Seats'}
    .small-2.columns
      %input#seatCost{type:'text', placeholder:'Cost per Seat'}
    .small-6.columns
      %input#seatCreate.button.small.radius{type:'button', value:'Create Seats'}
.row
  .small-12.columns
    #stage
      %h4 Stage
.row
  .small-2.small-offset-10.columns
    %input#seatName{type:'text', placeholder:'Name'}
.row
  .small-12.columns
    #vip
.row
  .small-12.columns
    #ga
%section#report
  .row
    .small-6.columns
      %table#cashReport
        %tr
          %th VIP People:
          %td#vipPeople
        %tr
          %th GA People:
          %td#gaPeople
        %tr
          %th Total People:
          %td#totalPeople
        %tr
          %th VIP Total $:
          %td#vipTotal
        %tr
          %th GA Total $:
          %td#gaTotal
        %tr
          %th Grand Total $:
          %td#grandTotal
    .small-6.columns
      %h5#seatingList Seat List
      %ul#vipSeating
      %ul#gaSeating
